<form (ngSubmit)="postRequestAMQ()" class="flexbox wrap column requestform">

  <select class="select">
    <option selected="true">--Select project--</option>
    <option>Project 1</option>
    <option>Project 2</option>
  </select>

  <div class="formentry flexbox wrap row">
    <label for="request">Summarize your feature request:</label>
    <input id="request" type="text" class="textinput">
  </div>
  <div class="formentry flexbox wrap row">
    <label for="request_description">provide a description of your feature request:</label>
    <textarea id="request_description" rows="5" cols="50"></textarea>
  </div>

  <input type="submit" class="submit end">
</form>
